body {margin:0 auto;padding:0;}
#web-page,#main,#main-left,#main-right{display:block;overflow:hidden;}
#web-page{clear:both;width:100%; min-height:500px; width:100%}
#main{clear:both;margin:5% auto;width:80%;min-height:500px; -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
#main-left;#main-right{float:left;margin:2%;border:1px solid #CCC}