body {margin:0 auto;padding:0; background:white}
#web-page,#main,#main-left,#main-right{display:block;overflow:hidden;}
#web-page{clear:both;width:100%; min-height:300px; width:100%}
#main{clear:both;margin:4% auto;width:80%;min-height:350px; -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px; border:1px solid #2C96E5}
#main-left;#main-right{float:left;margin:2%;border:1px solid #CCC}
.bold{font-weight:bolder}
#main-right{padding:5% auto;}