body 
{
    margin:0 auto;
    padding:0;
}
#web-page
{
    display:block;
    overflow:hidden;
    clear:left;
    background:#21B7EF;
    width:100%;
    min-height:800px;
    }
#main
{
        display:block;
        overflow:hidden;
        clear:left;
        margin: auto auto;
    }
